@{ ViewData["Title"] = "About DotNetBLR"; }
<h2>@ViewData["Title"]</h2>

<p class="jumbotron text-justify">We are community of .NET enthusiasts. We meet (every quarter), share our learnings, learn from each other and have fun too. Among other things, we also talk about emerging technologies, techniques and standards related to .NET software development. We often invite prominent speakers from the community to share their knowledge with us. There is also quiz, music, networking and fun! And best of all, our meetups are free for everyone.
</p>