@{ ViewData["Title"] = "About B.Net"; }
<h2>@ViewData["Title"]</h2>

<p class="jumbotron text-justify"> Bangalore .NET (BDOTNET) user group is about helping you understand the .NET framework, show how it will make you more productive
	and transition your development processes to the same, amongst other things. Detailed technical insights are presented by
	Microsoft RDs, .NET MVPs in the technical sessions conducted periodically. So, if you are a novice, or an intermediate or
	an advanced developer, transitioning or already working on .NET, BDOTNET is the place to be to quench your .NET thirst!
</p>