@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    <strong>Twitter :</strong> <a href="https://twitter.com/dotnetblr/">Follow us</a><br />
    <strong>Facebook :</strong> <a href="https://www.facebook.com/groups/dotnetbangalore/">Leave a Post</a>
</address>
